---
import exhibitions from '../content/exhibitions.json';
import awards from '../content/awards.json';
import Page from '../layouts/Page.astro';
import { markdown } from '@astropub/md'

type ExhibitionType = 'Solo' | 'Group';

interface Exhibition {
    date: string;
    title: string;
    venue: string;
    typeOfExhibition: ExhibitionType; 
    link?: string;
}

const sortFunction = (a: Exhibition, b: Exhibition): number => {
    const dateA = Date.parse(a.date);
    const dateB = Date.parse(b.date);
    return dateB - dateA;
}

const formatDate = (a: Exhibition): Exhibition => {
    const parsed = new Date(Date.parse(a.date));
    const month = new Intl.DateTimeFormat("en-US", { month: 'short' }).format(parsed);
    const year = parsed.getFullYear();
    return {
        ...a,
        date: `${month} ${year}`,
    };
};

const processExhibitions = (list: Exhibition[], type: ExhibitionType): Exhibition[] => (
    list.filter((e) => e.typeOfExhibition === type)
        .sort(sortFunction)
        .map(formatDate)
)


const soloExibitions = processExhibitions(exhibitions as Exhibition[], 'Solo');
const groupExhibitions = processExhibitions(exhibitions as Exhibition[], 'Group');

---

<Page title="About" permalink="/about" description="">
    {awards.length > 0 && (
        <h2>Awards</h2>
        <ul>
            {awards.map(async ({ year, award }) => (
                <li>
                    <span class="font-bold">{(new Date(year).getFullYear())}</span>
                    <br />{await markdown(award)}
                </li>
            ))}
        </ul>
    )}
    {soloExibitions.length > 0 && (
        <h2>Solo Exhibitions</h2>
        <ul>
            {soloExibitions.map(({ date, title, venue, link }) => (
                <li>
                    <span class="font-bold">{date},</span>&nbsp;<span class="italic">{title}</span>
                    <br /><span>{venue}</span>{link && (<>&nbsp;<a href="link">link</a></>)}
                </li>
            ))}
        </ul>
    )}
    {groupExhibitions.length > 0 && (
        <h2>Selected Group Exhibitions</h2>
        <ul>
            {groupExhibitions.map(({ date, title, venue, link }) => (
                <li>
                    <span class="font-bold">{date},</span>&nbsp;<span class="italic">{title}</span>
                    <br /><span>{venue}</span>{link && (<>&nbsp;<a href="link">link</a></>)}
                </li>
            ))}
        </ul>
    )}
</Page>
