---
// Component Imports
import { Picture } from 'astro:assets';
import { SITE } from '../config';
import content from '../content/homepage.json';
import { getCollection } from 'astro:content';
import ImageCaption from '../components/ImageCaption.astro';
import Page from '../layouts/Page.astro';

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let description = '';
let permalink = 'https://dan-murray-portfolio.netlify.com/';
const [homePageImage, _] = await getCollection('portfolio');
// Data Fetching: List all Markdown posts in the repo.

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---

<Page title="Portrait Painter" {description} {permalink}>
    <style slot="head-slot">
        picture,
        img {
            height: 100vh;
            width: 100%;
        }
    </style>
    <Picture
        inferSize={true}
        src={homePageImage.data.image}
        alt={homePageImage.data.alt}
        priority={true}
        background="blurhash"
        fit="contain"
        layout="full-width"
        pictureAttributes={{ class: 'w-full md:w-1/2 h-screen' }}
        widths={[600, 800, 1000]}
        sizes="(max-width: 400px) 800px, (max-width: 600px) 600px, 1000px"
        slot="left-side"
        formats={['webp', 'jpeg']}
    />
    <p>{content.intro}</p>
    <ImageCaption
        title={homePageImage.data.title}
        medium={homePageImage.data.medium}
        Dimensions={homePageImage.data.Dimensions}
        year={homePageImage.data.year}
    />
</Page>
