---
// Component Imports
import { Picture } from 'astro:assets';
import content from '../content/homepage.json';
import { getCollection } from 'astro:content';
import ImageCaption from '../components/ImageCaption.astro';
import Page from '../layouts/Page.astro';

const { image: imageTitle } = content;

const portfolio = await getCollection('portfolio');
const image = portfolio.find(({ data }) => data.title === imageTitle) || portfolio[0];
---

<Page title="Portrait Painter" permalink="">
    <style slot="head-slot">
        picture,
        img {
            height: 100vh;
            width: 100%;
        }
    </style>
    <Picture
        inferSize={true}
        src={image.data.image}
        alt={image.data.alt}
        priority={true}
        background="blurhash"
        fit="contain"
        layout="full-width"
        pictureAttributes={{ class: 'w-full md:w-1/2 h-screen' }}
        widths={[600, 800, 1000]}
        sizes="(max-width: 400px) 800px, (max-width: 600px) 600px, 1000px"
        slot="left-side"
        formats={['webp', 'jpg']}
    />
    <p id="main-content">{content.intro}</p>
    <ImageCaption
        title={image.data.title}
        medium={image.data.medium}
        Dimensions={image.data.Dimensions}
        year={image.data.year}
    />
</Page>
