---
import '../styles/global.css';
import content from '../content/homepage.json';

export interface Props {
    title: string;
    permalink: string;
}
const { title, permalink } = Astro.props;
const removeSlash = permalink.startsWith('/') ? permalink.slice(1) : permalink;
const { site } = Astro;
const description = content.intro;
const pageLink = `${site}${removeSlash}`;

const ogImage = `${site}social.png`;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width" />
<link rel="sitemap" href="/sitemap-index.xml" />
<link rel="icon" href="/favicon.png" sizes="32x32" />
<link rel="apple-touch-icon" href="/apple-touch-icon.png" /><!-- 180×180 -->

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={pageLink} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={ogImage} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={pageLink} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={ogImage} />

<!-- Analytics -->
<script type="text/javascript">
    new Image().src =
        'https://nullitics.com/n.gif?u=' +
        encodeURI(location.href) +
        '&r=' +
        encodeURI(document.referrer) +
        '&d=' +
        screen.width;
</script>
