---
import ArrowLeft from '../assets/images/arrow-left.svg';

interface Props {
    title: string;
    medium: string;
    Dimensions: {
        width: number;
        height: number;
    };
    year: string;
    className?: string;
    links?: {
        previous: string;
        next: string;
    };
    id?: string;
}

const {
    title,
    medium,
    Dimensions: { width, height },
    year,
    links,
    className,
    id = '',
} = Astro.props;
---

<style>
    .links {
        display: flex;
        justify-content: space-between;
        margin-top: 1rem;
        width: 100%;
        padding: 3rem 0;
    }
    .caption {
        display: flex;
        flex-direction: column;

        /* margin-top: 1rem; */
        line-height: 1.5rem;
    }

    .right {
        transform: rotate(180deg);
    }

    @media (width >= 48rem) {
        .links {
            max-width: 200px;
            padding: 0;
        }
    }
</style>

<div {id} class={`caption ${className || ''}`}>
    <h2>
        <span class="font-bold">{title}</span>, {year}
    </h2>
    <span class="">{medium}</span>
    {width} x {height} cm
    {
        links && (
            <div class="links">
                <a href={links.previous} title="Previous">
                    <ArrowLeft
                        class="stroke-gray-500 hover:stroke-amber-900"
                        width="auto"
                        height="1.5rem"
                        aria-label="previous"
                    />
                </a>
                <a href={links.next} title="Next">
                    <ArrowLeft
                        class="right stroke-gray-500 hover:stroke-amber-900"
                        width="auto"
                        height="1.5rem"
                        aria-label="next"
                    />
                </a>
            </div>
        )
    }
</div>
